azureml-responsibleai
azure-common
azure-ai-ml
azure-cli
azure-identity
mlflow
azureml-mlflow
mltable
azureml_dataprep
azureml_dataprep_rslex
responsibleai
raiwidgets
pandas==1.5.3
numpy 
scikit-learn
fastparquet
pyarrow==5.0.0
shap 
catboost
optuna
lightgbm
xgboost
matplotlib
seaborn
